.help {
    display: flex;
    position: relative;
    width: 100%;
    height: 1660px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.help::before {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFD4A4;
    z-index: -1;
}

.help__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1270px;
    height: 1260px;
    margin: 200px 85px;
}

.help__subtitle {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #090909;
    margin: 0;
}

.help__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 58px;
    text-align: center;
    color: #090909;
    margin: 20px 0 35px 0;
    width: 750px;
}

.help__buttonBox {
    display: flex;
    width: 440px;
    gap: 28px;
    margin-bottom: 64px;
}

.help__donateBtn {
    width: 180px;
    height: 70px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: all .5s;
}

.help__donateBtn:hover {
    background-color: transparent;
    color: #000;
}

.help__aboutBtn {
    width: 225px;
    height: 70px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: all .5s;
}

.help__aboutBtn:hover {
    background-color: transparent;
    color: #fff;
}

.help__img {
    margin: 0;
}

.help__list {
    display: flex;
    width: 95%;
    height: 160px;
    gap: 48px;
    padding: 0;
    margin: 0 auto;
    margin-top: 80px;
    list-style: none;
}

.help__item {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.help__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #090909;
    margin: 0;
}

.help__desc {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #6E6E6E;
    margin: 0;
    margin-top: 11px;
}